<?xml version="1.0"?>
<config>
    <modules>
        <Bloomnation_Facebook>
            <version>0.1.0</version>
        </Bloomnation_Facebook>
    </modules>
    <frontend>
        <routers>
            <facebook>
                <use>standard</use>
                <args>
                    <module>Bloomnation_Facebook</module>
                    <frontName>facebookstore</frontName>
                </args>
            </facebook>
        </routers>
        <layout>
            <updates>
                <facebook>
                    <file>facebook.xml</file>
                </facebook>
            </updates>
        </layout>            
    </frontend>
    <global>
        <helpers>
            <facebook>
                <class>Bloomnation_Facebook_Helper</class>
            </facebook>
        </helpers>
        <blocks>
            <facebook>
                <class>Bloomnation_Facebook_Block</class>
            </facebook>
        </blocks>
    </global>
</config>