<?xml version="1.0"?>
<config>
    <modules>
        <Bloomnation_Iframemod>
            <version>0.1.0</version>
        </Bloomnation_Iframemod>
    </modules>
    <frontend>
        <routers>
            <iframemod>
                <use>standard</use>
                <args>
                    <module>Bloomnation_Iframemod</module>
                    <frontName>iframemod</frontName>
                </args>
            </iframemod>
        </routers>
        <layout>
            <updates>
                <iframemod>
                    <file>iframemod.xml</file>
                </iframemod>
            </updates>
        </layout>            
    </frontend>
    <global>
        <helpers>
            <iframemod>
                <class>Bloomnation_Iframemod_Helper</class>
            </iframemod>
        </helpers>
        <blocks>
            <iframemod>
                <class>Bloomnation_Iframemod_Block</class>
            </iframemod>
        </blocks>
        <models>
            <iframemod>
                <class>Bloomnation_Iframemod_Model</class>
            </iframemod>
        </models>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <bloomnation_iframemod_cart_event>
			<type>singleton</type>
			<class>iframemod/observer</class>
			<method>addToCartComplete</method>                        
                    </bloomnation_iframemod_cart_event>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </global>
</config>