<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Web_Usps>
            <version>0.1.0</version>
        </Web_Usps>
    </modules>
    <global>
        <blocks>
            <web_usps>
                <class>Web_Usps_Block</class>
            </web_usps>
        </blocks>
        <helpers>
            <web_usps>
                <class>Web_Usps_Helper</class>
            </web_usps>
        </helpers>
        <models>
            <web_usps>
                <class>Web_Usps_Model</class>
            </web_usps>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch_checkout>
                <observers>
                    <web_usps>
                        <class>Web_Usps_Model_Observer</class>
                        <method>validateAddress</method>
                    </web_usps>
                </observers>
            </controller_action_postdispatch_checkout>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <usps>
                                            <title>Usps Address Verification</title>
                                        </usps>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
