<?xml version="1.0"?>
<config>
    <modules>
        <Unirgy_DropshipMulti>
            <version>2.0.6</version>
            <usimpleup remote="http://download.unirgy.com/simple/client_api/version/"
                changelog="http://unirgy.com/support/portal/announcements"
                uninstall="udmulti/observer::usimpleup_uninstall"/>
        </Unirgy_DropshipMulti>
    </modules>

    <global>
        <blocks>
            <udmulti>
                <class>Unirgy_DropshipMulti_Block</class>
            </udmulti>
            <udropship>
                <rewrite>
<!--                    <adminhtml_vendor_edit_tab_products>Unirgy_DropshipMulti_Block_Adminhtml_Vendor_Products</adminhtml_vendor_edit_tab_products>-->
                </rewrite>
            </udropship>
        </blocks>
        <models>
            <udmulti>
                <class>Unirgy_DropshipMulti_Model</class>
            </udmulti>
            <cataloginventory>
                <rewrite>
                    <!--observer>Unirgy_DropshipMulti_Model_InventoryObserver</observer-->
                    <!--source_backorders>Unirgy_DropshipMulti_Model_SourceBackorders</source_backorders-->
                </rewrite>
            </cataloginventory>
            <cataloginventory_mysql4>
                <rewrite>
                    <stock>Unirgy_DropshipMulti_Model_Mysql4_Stock</stock>
                </rewrite>
            </cataloginventory_mysql4>
        </models>
        <helpers>
            <udmulti>
                <class>Unirgy_DropshipMulti_Helper</class>
            </udmulti>
        </helpers>

        <resources>
            <udmulti_setup>
                <setup>
                    <module>Unirgy_DropshipMulti</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </udmulti_setup>
        </resources>

        <udropship>
            <stockcheck_methods>
                <local_multi translate="title">
                    <callback>udmulti/stock_availability::checkLocalStockLevel</callback>
                </local_multi>
            </stockcheck_methods>

            <availability_methods>
                <least_vendors_lowest_cost translate="title" module="udmulti">
                    <active>true</active>
                    <multi>true</multi>
                    <label>Multi Vendor: Least Packages + Lowest Cost</label>
                    <callback>udmulti/decision_leastVendorsLowestCost::apply</callback>
                    <collectstock_callback>udmulti/decision_leastVendorsLowestCost::collectStockLevels</collectstock_callback>
                </least_vendors_lowest_cost>
            </availability_methods>
        </udropship>

        <events>
            <udropship_stock_item_getIsInStock>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>udropship_stock_item_getIsInStock</method>
                    </udmulti>
                </observers>
            </udropship_stock_item_getIsInStock>
            <udropship_stock_item_checkQty>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>udropship_stock_item_checkQty</method>
                    </udmulti>
                </observers>
            </udropship_stock_item_checkQty>
            <udropship_stock_item_getQty>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>udropship_stock_item_getQty</method>
                    </udmulti>
                </observers>
            </udropship_stock_item_getQty>
            <udropship_stock_item_checkQuoteItemQty>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>udropship_stock_item_checkQuoteItemQty</method>
                    </udmulti>
                </observers>
            </udropship_stock_item_checkQuoteItemQty>
            <udropship_stock_item_beforeSave>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>udropship_stock_item_beforeSave</method>
                    </udmulti>
                </observers>
            </udropship_stock_item_beforeSave>
            <udropship_shipment_assign_vendor_skus>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>udropship_shipment_assign_vendor_skus</method>
                    </udmulti>
                </observers>
            </udropship_shipment_assign_vendor_skus>
            <udpo_po_assign_vendor_skus>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>udpo_po_assign_vendor_skus</method>
                    </udmulti>
                </observers>
            </udpo_po_assign_vendor_skus>
            <udropship_po_add_vendor_skus>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>udropship_po_add_vendor_skus</method>
                    </udmulti>
                </observers>
            </udropship_po_add_vendor_skus>

            <catalog_product_load_after>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>catalog_product_load_after</method>
                    </udmulti>
                </observers>
            </catalog_product_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>catalog_product_collection_load_after</method>
                    </udmulti>
                </observers>
            </catalog_product_collection_load_after>
            <sales_quote_item_collection_products_after_load>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>sales_quote_item_collection_products_after_load</method>
                    </udmulti>
                </observers>
            </sales_quote_item_collection_products_after_load>
            <sales_quote_item_set_product>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>sales_quote_item_set_product</method>
                    </udmulti>
                </observers>
            </sales_quote_item_set_product>

            <catalog_product_prepare_save>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>catalog_product_prepare_save</method>
                    </udmulti>
                </observers>
            </catalog_product_prepare_save>
            <udropship_stock_item_save_before>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>udropship_stock_item_save_before</method>
                    </udmulti>
                </observers>
            </udropship_stock_item_save_before>
            <catalog_product_save_after>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>catalog_product_save_after</method>
                    </udmulti>
                </observers>
            </catalog_product_save_after>

            <sales_order_item_save_before>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>sales_order_item_save_before</method>
                    </udmulti>
                </observers>
            </sales_order_item_save_before>
            <sales_order_item_cancel>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>sales_order_item_cancel</method>
                    </udmulti>
                </observers>
            </sales_order_item_cancel>
            <sales_creditmemo_item_save_after>
                <observers>
                    <udmulti>
                        <type>singleton</type>
                        <class>udmulti/observer</class>
                        <method>sales_creditmemo_item_save_after</method>
                    </udmulti>
                </observers>
            </sales_creditmemo_item_save_after>
        </events>

        <fieldsets>
            <sales_convert_quote_item>
                <cost><to_order_item>*</to_order_item></cost>
            </sales_convert_quote_item>
        </fieldsets>

        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <cost/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>

    <admin>
        <routers>
            <udmultiadmin>
                <use>admin</use>
                <args>
                    <module>Unirgy_DropshipMulti</module>
                    <frontName>udmultiadmin</frontName>
                </args>
            </udmultiadmin>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <udmulti>
                    <file>udmulti.xml</file>
                </udmulti>
            </updates>
        </layout>

        <events>
            <controller_action_layout_render_before_udropshipadmin_adminhtml_vendor_index>
                <observers><udmulti><type>singleton</type><class>udmulti/observer</class><method>adminhtml_version</method></udmulti></observers>
            </controller_action_layout_render_before_udropshipadmin_adminhtml_vendor_index>
        </events>
    </adminhtml>

    <frontend>
        <routers>
            <udmulti>
                <use>standard</use>
                <args>
                    <module>Unirgy_DropshipMulti</module>
                    <frontName>udmulti</frontName>
                </args>
            </udmulti>
        </routers>
        <layout>
            <updates>
                <udmulti>
                    <file>udmulti.xml</file>
                </udmulti>
            </updates>
        </layout>
    </frontend>

    <default>
    </default>
</config>
